<table class="table table-bordered">
  <tr class="info">
    <td><%= @topic.title %></td>
  </tr>
  <% @blocmarks.each do |bloc| %>
    <tr>
      <td><%= link_to bloc.url , bloc.url %></td>
    </tr>
  <% end %>
</table>