
<table class="table table-bordered">
  <tr class="info">
    <td>Blocmarks you like!</td>
    <td>Delete!</td>
  </tr>
  <% current_user.likes.each do |like| %>
  <tr>
    <td><%= link_to Blocmark.find(like.blocmark_id).url , Blocmark.find(like.blocmark_id).url %></td>
    <td><%= button_to "Unlike", {:controller => "likes", :action => "destroy", :id => like.id } , :method => :delete %></td>
  </tr>
  <% end %>
</table>


