<h1> Your Blocmarks! </h1>
<% @topics.each do |topic| %>
<table class="table table-bordered">
  <tr class="info">
    <td><%= topic.title %></td>
  </tr>
<% topic.blocmarks.each do |bloc| %>
  <tr>
    <td><%= bloc.url %></td>
  </tr>
<% end %>
</table>
<br>
</table>

